<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">


    <title>Mooog Examples | Table of Contents</title>

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
    <%= javascript_include_tag  "highlight/highlight.pack" %>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>


  <body class="<%= page_classes %>">

    <div class="row">
        <div class="small-12 columns">
            <h1 class="mooog-title">Mooog</h1>

              <h2>Examples: Table of Contents</h2>
        </div>
    </div>

    <%= yield %>



     <%= javascript_include_tag "body-end" %>

  </body>
</html>
