<div class="row">
    <div class="small-12 columns">
        <footer class="panel radius">
        	<h3>The fine print</h3>
        	<p>Responsive design framework by <%= link_to("Zurb","http://foundation.zurb.com/") %>.
        	</p>
        	<p>Automatic syntax highlighting by <%= link_to("highlight.js", "https://highlightjs.org/") %>.
        	</p>
        	<p>The convolver examples use impulse responses from the <%= link_to('OpenAir Impulse Response Library', 'http://www.openairlib.net/') %> licensed under various Creative Commons licenses.
        	</p>
    		 <ul class="disc">
        	    <li><strong><%= link_to("st-andrews-church-ortf-shaped.wav", "http://www.openairlib.net/auralizationdb/content/st-andrews-church") %></strong> : <%= link_to("Attribution Share Alike Creative Commons license", "http://creativecommons.org/licenses/by-sa/3.0/") %></li>
    	    </ul>
    	    <p><strong>balafon.mp3</strong> is the author's creation, released under the <%= link_to "MIT License", "https://opensource.org/licenses/MIT" %></p>


        </footer>
    </div>
</div>
